@model BObject.ItemGroup_IG
@{
    ViewBag.Title = "Item Group List";

}

<h2 style="background-color: aliceblue; text-align: center;">@ViewBag.Title</h2>
@if ((bool)Session["CanAdd"] == true)
{

    <a href="ItemGroup" style="text-decoration:none; width:150px;" class="btn btn-primary">ADD ITEM GROUP</a>}

<hr />
@if ((bool)Session["CanView"] == true)
{
<div class="row">
    <div class="col-sm-12 col-xl-12 col-md-12 table-responsive">
        <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
            <thead>
                <tr>
                    <th data-checkbox="true"></th>
                    <th>Sl.</th>
                    <th>Code</th>
                    <th>Item Group Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1; }
                @foreach (var item in Model.ItemGroupList)
                {
<tr>
    <td></td>
    <td>@i</td>
    <td>@item.ItemCode</td>
    <td>@item.ItemGroupName</td>


    @if ((bool)Session["CanEdit"] == true)
    {
<td>
    <a href="/Master/ItemGroup/@item.ItemGroupID" style="text-decoration:none;">
        <img src="~/Logo/Edit.png" width="30" height="30" title="Edit" />
    </a>
</td> }
                    else
                    {
<td>
    <a href="javascript:void(0)" style="text-decoration:none;">
        <img src="~/Logo/Edit.png" width="30" height="30" title="Edit Not Authorized" />
    </a>
</td>}

    @if ((bool)Session["CanDelete"] == true)
    {
<td>
    <a href="javascript:void(0)" onclick="DeleteItemGroup(@item.ItemGroupID);" style="text-decoration:none;">
        <img src="~/Logo/Delete.png" width="30" height="30" title="Delete" />
    </a>
</td> }
                    else
                    {
<td>
    <a href="javascript:void(0)" style="text-decoration:none;">
        <img src="~/Logo/Delete.png" width="30" height="30" title="Delete Not Authorized" />
    </a>
</td>}


</tr>i = i + 1;
                }

            </tbody>
        </table>
    </div>
</div> }
            else
            {
<div class="alert-danger">
    <h3>You Are Not Authorize....................!</h3>
</div>}


@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/data-table/bootstrap-table.js"></script>
<script src="~/Scripts/AppScript/ItemGroup.js"></script>